{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <main id="work">
      <h1 class="lg-heading">
        My
        <span class="text-secondary">Work</span>
      </h1>
      <h2 class="sm-heading">
        Here there are some of my latest projects
      </h2>
      <div class="projects">
        
<!-- ************************************************************************************************************************** -->
        <div class="item">
          <div class="container">
            <a href="https://armelsoubeiga.github.io/afnews/" target="_blank">
              <img
                src="https://raw.githubusercontent.com/armelsoubeiga/afnews/master/logo.png"
                alt="Project"
                height="250"
                width="250"
                class="image"
              />
              <div class="overlay">
                <div class="text">
                  AfricAnalytics ReportHub
                  <br><span style="color:red; font-size:14px">Africa news data collection. A package to scraping all news of all countries of Africa. The news is by country and by date range. The data returned are: title, contents, comments, journal name and category.</span>
                </div>
              </div>
            </a>
          </div>
          <a href="https://armelsoubeiga.github.io/afnews/" target="_blank" class="btn-light">
            <i class="fas fa-eye"></i>Read about Project
          </a>
          <a
            href="https://github.com/armelsoubeiga/afnews"
            target="_blank"
            class="btn-dark">
            <i class="fab fa-github"></i>Github
          </a>
        </div>
      
        
     <!-- ************************************************************************************************************************** -->
        <div class="item">
          <div class="container">
            <a href="https://analyzer.shinyapps.io/ReportHub/" target="_blank">
              <img
                src="dist/img/projects/reporthub.jpg"
                alt="Project"
                height="250"
                width="250"
                class="image"
              />
              <div class="overlay">
                <div class="text">
                  AfricAnalytics ReportHub
                  <br><span style="color:red; font-size:14px">AfricAnalytics ReportHub. We collect thousands of annual reports from different companies around the world</span>
                </div>
              </div>
            </a>
          </div>
          <a href="https://analyzer.shinyapps.io/ReportHub" target="_blank" class="btn-light">
            <i class="fas fa-eye"></i>Read about Project
          </a>
          <a
            href="https://analyzer.shinyapps.io/ReportHub"
            target="_blank"
            class="btn-dark">
            <i class="fab fa-github"></i>Github
          </a>
        </div>
        
      </div>
    </main>
    
  </article>
</div>
